
/*************************************************************************************************/
/** Fonts
/*************************************************************************************************/

@font-face {
	font-family: Cabin;
	src: url('../fonts/Cabin/Cabin-Regular.otf');
}

@font-face {
	font-family: Roboto-Regular;
	src: url('../fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
	font-family: Roboto-Bold;
	src: url('../fonts/Roboto/Roboto-Bold.ttf');
}

@font-face {
	font-family: Roboto-BoldItalic;
	src: url('../fonts/Roboto/Roboto-BoldItalic.ttf');
}

@font-face {
	font-family: Roboto-Italic;
	src: url('../fonts/Roboto/Roboto-Italic.ttf');
}

@font-face {
	font-family: Roboto-Light;
	src: url('../fonts/Roboto/Roboto-Light.ttf');
}

/*************************************************************************************************/
/** Main styles
/*************************************************************************************************/

html, body {
	overflow-x: hidden;
	overflow-y: auto;
	padding: 0;
	margin: 0;
	font-family: Roboto-Regular;
}
html,
body.page-generatespin { min-height: 100vh }

html a {
	text-decoration: none;
}

#page-content {
	padding: 25px;
}
body.page-generatespin #page-content { min-height: calc(100vh - 50px) }

.info-message {
	position: relative;
	/*margin-top: 10px;*/
	padding: 10px;
	text-align: justify;
	border-width: 2px;
}

.info-message[class~=info] {
	/*border: 2px #777 solid;*/
	color: #777;
	background-color: rgba(234,234,234, .6);
}

.info-message[class~=error] {
	border-color: #ce4844;
	color: #ce4844;
	/*background-color: rgba(206,72,68, .1);*/
}

.info-message[class~=success] {
	border-color: #5cb85c;
	color: #5cb85c;
	background-color: rgba(92,184,92, .1);
}

.info-message[class~=help] {
	border-style: solid;
	border-color: #ffeb46;
	color: #777;
	background-color: #ffffcb;
	text-align: justify;
}
.info-message[class~=help] .help-content {
	margin-left: 25px;
	margin-right: 25px;
}
.info-message[class~=help] .title {
	padding-top: 5px;
	font-family: Roboto-BoldItalic;
}
.info-message[class~=help] ol li:not(:FIRST-CHILD) {
	padding-top: 5px;
}
.info-message[class~=help] div.close-button {
	margin: 10px;
	text-align: right;
	font-family: Roboto-BoldItalic;
}
.info-message[class~=help] div.close-button a {
	padding: 2px 7px;
}
.info-message[class~=help] a {
	padding: 0 2px;
	color: #777;
	background: #eaeaea;
	border: 1px #ccc solid;
}
.info-message[class~=help] a:HOVER {
	background: #ffeb46;
}
.info-message[class~=help] #stop-words-list {
	display: none;
	margin: 5px 0;
	padding: 5px;
	border: 1px #ccc solid;
	text-align: justify;
}

.info-message[class~=result] {
	font-size: 18px;
	line-height: 150%;
	text-align: justify !important;
	border-style: solid !important;
}

.info-message[class~=justify] {
	text-align: justify;
}

.info-message .stats-resume {
	font-family: Roboto-Regular;
	color: #777;
	line-height: 1.8em;
}

/*.info-message .stats-resume span {
	
	padding: 0 3px;
	background: #fafafa;
	border: 1px #eaeaea solid;
	border-radius: 2px;
	
}*/

span.warning {
	color: #ffbf00;
}

span.error {
	color: #ce4844;
}

span.highlight {
	padding: 0 3px;
	border: 1px #ffeb46 solid;
	border-radius: 4px;
	background-color: #ffffcb;
	cursor: pointer;  
}

span.curly-underline {
	font-weight: bold;
	cursor: default;
}
span.curly-underline[class*=red] { background: url(../images/curly-underline-red.gif) bottom repeat-x; }
span.curly-underline[class*=blue] { background: url(../images/curly-underline-blue.gif) bottom repeat-x; }

/*************************************************************************************************/
/** DB toggle divs
/*************************************************************************************************/

.db-toggle {
	padding: 5px 15px;
	height: auto;
	background-color: #f5f5f5;
	color: #777;
	font-size: 14px;
	border-right: 2px #e5e5e5 solid;
	border-bottom: 2px #e5e5e5 solid;
	border-left: 2px #e5e5e5 solid;
	/*border-radius: 6px 6px 0 0;*/
	transition: all 0.7s ease; -moz-transition: all 0.7s ease; -webkit-transition: all 0.7s ease; -o-transition: all 0.7s ease;
}

.db-toggle:first-child {
	border-top: 2px #e5e5e5 solid;
}

.db-toggle:HOVER {
	background-color: #e5e5e5;
	cursor: pointer;
}

.db-toggle .title {
	white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
}

.db-toggle .title span.number {
	margin-right: 10px;
	padding: 0 6px;
	background: #777; 
	color: #e5e5e5;
}

.db-toggle .icon {
	float: right;
	margin-left: 10px;
}

.db-toggle + .content {
	padding: 20px;
	border-right: 2px #e5e5e5 solid;
	border-bottom: 2px #e5e5e5 solid;
	border-left: 2px #e5e5e5 solid;
}

.db-toggle[class~=db-testimonial] + .content p {
	padding-top: 15px;
	margin: 0;
}


.db-toggle[class~=db-testimonial] + .content > span {
	color: #c5c5c5;
	font-size: 2.5em;
}

.db-toggle[class~=db-testimonial] + .content > span + p { /* first paragraph */
	display: inline;
	padding-top: 0;
}

/*************************************************************************************************/
/** Forms
/*************************************************************************************************/

form.db-form {
	font-size: 14px;
	position: relative;
	text-align: justify;
}
body.page-generatespin form.db-form { min-height: calc(100vh - 50px) }
form.db-form.processing::before {
	background: rgba(255,255,255,0.7) url(../images/loader.gif) center center no-repeat;
	bottom: 0;
	content: '';
	display: block;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1
}
form.db-form.processing[data-proctotal][data-proccomplete]::after {
	content: attr(data-proccomplete) " / " attr(data-proctotal);
	display: block;
	left: 50%;
	margin-top: -2em;
	position: absolute;
	top: 50%;
	z-index: 1;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%)
}
form.db-form label {
	display: block;
	padding-bottom: 5px;
	color: #aaa;
	font-family: Roboto-Italic;
}
form.db-form input[type=checkbox] + label {
	display: inline;
	color: #aaa;
}
form label:HOVER {
	cursor: pointer;
}

form.db-form input,
form.db-form textarea,
form.db-form select,
form.db-form button {
	width: 100%;
	background: #fff;
	border: 2px solid #eaeaea;
	box-sizing: border-box;
	color: #777;
}

form.db-form input,
form.db-form select,
form.db-form button {
	font-family: Roboto-Regular;
}


form.db-form input[type=checkbox] {
	margin-right: 5px;
	width: auto !important;
}

form.db-form input:HOVER,
form.db-form textarea:HOVER,
form.db-form select:HOVER {
	cursor: pointer;
	background-color: #f1f1f1;
}

form.db-form input:FOCUS,
form.db-form textarea:FOCUS,
form.db-form select:FOCUS,
form.db-form button:FOCUS {
	border-color: #03649e;
	background-color: transparent;
	outline: 0;
}

form.db-form input[type=text],
form.db-form input[type=number],
form.db-form input[type=password],
form.db-form select,
form.db-form button {
	padding: 10px 15px;
	font-size: 22px;
	font-weight: 300;
}

form.db-form input[type="text"]#no_article[readonly] {
	border: 0 none;
	text-align: left !important
}

form.db-form select.mini {
	margin: 0 0 5px 10px !important;
	padding: 0 !important;
	width: auto !important;
	font-family: Roboto-Regular;
	font-size: 14px !important;
}

form.db-form input[type=radio] {
	width: auto !important;
}

form.db-form textarea {
	padding: 10px;
	height: 180px;
	resize: vertical;
	letter-spacing: 0.05em;
	line-height: 1.5em;
}

form.db-form button {
	border-radius: 8px;
}

form.db-form button:HOVER {
	cursor: pointer;
}

form.db-form button.mini {
	background-color: #eaeaea;
	margin-left: 10px;
	padding: 1px 5px !important;
	width: auto !important;
	font-size: 14px !important;
	border-radius: 4px;
}

form.db-form label[for*="h2op"] {
	color: #777;
	font-family: Roboto-Regular;
}

form.db-form label[for="value-of-x"] {
	text-align: center
}
form.db-form #value-of-x {
	border-radius: 3px
}

form.db-form button.action {
	border-color: #5cb85c;
	color: #5cb85c;
}
form.db-form button.action:HOVER {
	background-color: rgba(92,184,92, 0.1);
}

form.db-form button.cancel {
	border-color: #ce4844;
	color: #ce4844;
}
form.db-form button.cancel:HOVER {
	background-color: rgba(206,72,68, 0.1);
}

form.db-form button.disabled {
	border-color: #aaa !important;
	color: #aaa !important;
}
form.db-form button.disabled:HOVER {
	background-color: rgba(234,234,234, 0.4);
}

form.db-form button .progress-bar {
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	width:0; 
	background:#ddd;
	opacity: .5;
	transition: all 0.7s ease; -moz-transition: all 0.7s ease; -webkit-transition: all 0.7s ease; -o-transition: all 0.7s ease;
}


/*************************************************************************************************/
/** Blink effect
/*************************************************************************************************/

.blink  {
	-webkit-animation-name: blinker;
	-webkit-animation-duration: 2s;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-name: blinker;
	-moz-animation-duration: 2s;
	-moz-animation-timing-function: ease-in-out;
	-moz-animation-iteration-count: infinite;
	animation-name: blinker;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  
	0% { opacity: 1.0; }
	50% { opacity: 0.0; }
	100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
	0% { opacity: 1.0; }
	50% { opacity: 0.0; }
	100% { opacity: 1.0; }
}

@keyframes blinker {  
	0% { opacity: 1.0; }
	50% { opacity: 0.0; }
	100% { opacity: 1.0; }
}

/*************************************************************************************************/
/** Gridism
/*************************************************************************************************/

.grid.collapse-with-following .unit {
	padding-bottom: 0 !important;
}

.grid.collapse-with-following + .grid .unit {
	padding-top: 5px !important;
}

.grid.parameters-area {
	margin: 10px;
	border: 2px #eaeaea solid;
}

.grid.my-table[class~=header] {
	background: #dedede;
	font-weight: bold;
}

.grid.my-table[class~=header] .unit:not(:FIRST-CHILD) {
	border-left: 1px #ccc solid;
}

.grid.my-table[class~=row] {
	border-top: 1px #ccc solid;
}

.grid.my-table[class~=row] .unit:not(:FIRST-CHILD) {
	border-left: 1px #ccc solid;
}

/*************************************************************************************************/
/** Gauge
/*************************************************************************************************/

.gauge  {
	position: relative;
	/*margin-top: 10px;*/
	padding: 10px;
	border-width: 2px;
	border-color: rgba(0,0,0,0);
}

.gauge[class~=spinchecker] {
	display: inline-block;
	margin-top: 0;
	padding-top: 0;
	width: 100px;
	height: 100px;
}

.gauge text {
	font-family: Roboto-Regular !important;
	font-weight: normal !important;
}

/*************************************************************************************************/
/** Simply Toast
/*************************************************************************************************/

.simply-toast {
	font-family: Roboto-Regular;
	font-size: 13px;
	text-align: justify;
}

.simply-toast.alert-warning {
	background-color: #fbe08c;
	border-color: #ffbf00;
}

.simply-toast span.close {
	margin-left: 15px;
}

/*************************************************************************************************/
/** Spintax validation
/*************************************************************************************************/

.spintax {
	padding: 10px;
	font-family: "Courier New", Courier, monospace;
	font-size: 14px;
	text-align: justify !important;
	border: 2px #eaeaea solid;
	background: #fafafa !important;
	color: #777;
}
.spintax:FOCUS {
	background: #fff !important;
}

.spintax.highlighting-on {
	opacity: 0.6;
}
.spintax.highlighting-off {
	opacity: 1;
}

.info-message[class~=no-background] {
	background: none;
}

.info-message[class~=error] p {
	margin: 20px 0 0 0;
	padding: 5px 0 5px 10px;
	text-align:justify;
}
.info-message[class~=error] > p:first-child {
	margin-top: 0;
}

.info-message[class~=error] p.error {
	background: #fff;
	color: #ce4844;
	border-top: 2px #ce4844 solid;
	border-right: 2px #ce4844 solid;
	border-left: 2px #ce4844 solid;
}
.info-message[class~=error] p.warning {
	background: #fff;
	color: #ffbf00;
	border-top: 2px #ffbf00 solid;
	border-right: 2px #ffbf00 solid;
	border-left: 2px #ffbf00 solid;
}

.info-message[class~=error] p.error + .spintax {
	color: #777;
	border-top: none;
	border-right: 2px #ce4844 solid;
	border-bottom: 2px #ce4844 solid;
	border-left: 2px #ce4844 solid;
}
.info-message h2{ 
	color: #777; font-weight:normal;	
	font-family: "Courier New", Courier, monospace;
	font-size: 14px;
	text-align: justify !important;
}
.info-message[class~=error] p.warning + .spintax {
	color: #777;
	border-top: none;
	border-right: 2px #ffbf00 solid;
	border-bottom: 2px #ffbf00 solid;
	border-left: 2px #ffbf00 solid;
}

.info-message[class~=error] p + .spintax a.spintax-error {
	padding: 0 2px;
	font-weight: bolder;
	border-radius: 2px;
}

.info-message[class~=error] p.error + .spintax a.spintax-error {
	border: 2px #ce4844 solid;
	background-color: rgba(206,72,68, 0.1);
	color: #ce4844; 
}
.info-message[class~=error] p.warning + .spintax a.spintax-error {
	border: 2px #ffbf00 solid;
	background-color: rgba(255,191,0, 0.1);
	color: #ffbf00;
}

/*.info-message[class~=error] + a.display-stats {
	float: right;
	margin-top: 15px;
	padding: 2px 7px;
	color: #777;
}*/
.info-message[class~=error] + a.display-stats {
	display: inline-block;
	margin-top: 10px;
	padding: 2px 7px;
	color: #777;
}
.info-message[class~=error] + a.display-stats:HOVER {
	cursor: pointer;
	background: #ffeb46;
}

.spintax span.fading-in-block-1,
.spintax span.fading-out-block-1 {
	opacity: 1;
}
.spintax span.fading-in-block-2,
.spintax span.fading-out-block-2 {
	opacity: .85;
}
.spintax span.fading-in-block-3,
.spintax span.fading-out-block-3 {
	opacity: .75;
}
.spintax span.fading-in-block-4,
.spintax span.fading-out-block-4 {
	opacity: .6;
}
.spintax span.fading-in-block-5,
.spintax span.fading-out-block-5 {
	opacity: .4;
}

textarea.autosize {
	box-sizing: border-box !important;
	min-height: 1em !important;
	resize: none !important;
	overflow: hidden !important; /* for Firefox (issue #5) */
}

.highlighter-container {
	position: absolute;
	padding: 10px;
	font-family: "Courier New", Courier, monospace;
	font-size: 14px;
	text-align: justify;
	color: rgba(0,0,0,0);
	letter-spacing: 0.05em;
	line-height: 1.5em; 
	background: none;
	border: 2px rgba(0,0,0,0) solid;
	white-space: pre-wrap;
	z-index: -1;
}

.highlighter-container .spintax-highlight {
	padding: 0;
	border: 1px #f5d0a9 solid;
	border-radius: 2px;
	background-color: #F7FE2E;  
}

.paragraph-container {
	margin-top: 20px;
	padding: 0px 0 0 15px;
	border-left: 5px #eaeaea solid;
	position: relative;
}
.paragraph-container:hover {
	border-left-color: #5cb85c;
}
.paragraph-container[data-paracontindex]::before {
	background-color: #FFF;
	border: 2px solid #eaeaea;
	border-radius: 100px;
	color: #666;
    content: attr(data-paracontindex);
	display: block;
	height: 30px;
	left: -3px;
	line-height: 30px;
    position: absolute;
	text-align: center;
	top: 50%;
    width: 30px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.paragraph-container[data-paracontindex]:hover::before {
	border-color: #5cb85c;
}

/*************************************************************************************************/
/** Qtip�
/*************************************************************************************************/

.qtip .qtip-content {
	text-align: justify !important;
}

/*************************************************************************************************/
/** Radiance public message
/*************************************************************************************************/

.radiance-public-message {
	margin: 20px 0 10px 0;
	font-family: Roboto-Regular;
	text-align: justify;
    line-height: 1.8em;
	background: #f5f5f5;
    color: #777;
	border: 2px #e5e5e5 solid;
}

.radiance-public-message a {
	color: #777;
	border-bottom: 1px #777 solid;
}
.language_options > input {
	width:18px !important;
	border:none !important;
	margin-left: 5px;
	margin-bottom: 5px;
	}
.language_options {
    text-align: right;
	margin-top:-20px;
}
.loading-block.open {
    left: 0;
}
.loading-block {
    background-color: #2c3e50;
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
    -webkit-justify-content: center;
     -moz-justify-content: center;
      -ms-justify-content: center;
          justify-content: center;
            -ms-flex-pack: center;
    -webkit-align-items: center;
     -moz-align-items: center;
      -ms-align-items: center;
          align-items: center;
    color: #fff;
    font: 14px Roboto-Regular;
    line-height: 1.5em;
    text-align: center;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.loading-block .inner {
    text-align: center;
}
.loading-block .spintax-progress { height: 5px; left: 0; position: absolute; top: 0; width: 100% }
.loading-block .spintax-progress .progress-1,
.loading-block .spintax-progress .progress-2 { background-color: rgba(255,255,255,0.5); display: block; height: 100%; left: 0; position: absolute;	top: 0;	width: 0; -webkit-transition: width 0.3s ease 0s; transition: width 0.3s ease 0s }
.loading-block .spintax-progress .progress-2 { background-color: #D36 }
.spinner {
  width: 60px;
  height: 60px;
  position: relative;
  margin: 100px auto;
}
.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}
.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
.popup {
    background-color: #23174B;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    top:0;
    left: 0;
    width: 100%;
    position: fixed;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.popup .wrap {
    background-color: #fff;
    color: #465464;
    width: 600px;
    max-width: 95%;
    font-size: 18px;
}
.popup .text {
    padding: 15px;
    min-height: 150px;
}
.popup .buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.popup .buttons > a {
    text-align: center;
    display: block;
    width: 50%;
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
    background-color: #ECECEC;
    padding: 14px 0;
    font-size: 16px;
}
.popup .buttons > a.download {
    background-color: #1BBA67;
    color: #fff;
}
@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}
@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

.grid.head[data-gen_method="method_1"] .wraps-r_c,
.grid.head[data-gen_method="method_1"] .wraps-bucket_size,
.grid.head[data-gen_method="method_1"] .wraps-processes { display: none }
@media all and (max-width:1199px) {
	body.page-generatespin .grid.head .unit { width: 100% }
	body.page-generatespin .grid.head .unit.three-quarters { display: flex }
	body.page-generatespin .grid.head .unit.three-quarters > * { flex: 1 }
}
@media all and (max-width:991px) {
	body.page-generatespin .grid.head .unit.three-quarters { flex-wrap: wrap; float: none; margin-left: -10px; margin-right: -10px; width: auto }
	body.page-generatespin .grid.head .unit.three-quarters > * { flex: unset; margin: 0 10px; width: calc(50% - 20px) }
	body.page-generatespin .grid.head[data-gen_method="method_2"] .unit.three-quarters > :nth-child(n+3) { margin-top: 10px }
}
@media all and (max-width:600px) {
	body.page-generatespin .grid.head .unit.three-quarters > * { width: calc(100% - 20px) }
	body.page-generatespin .grid.head .unit.three-quarters > :nth-child(n+2) { margin-top: 10px }
}

.gen-duration-display { background-color: rgba(50,200,0,0.1); border: 1px solid rgba(92, 184, 92,0.4); border-radius: 3px; color: rgb(65, 150, 65); height: 36px; line-height: 36px; margin: 20px 0; text-align: center }

form.db-form input[type="text"][name="processes"] { border: 0 none; width: 70px }

#processing-status-display,
#processing-status-display * { box-sizing: border-box; position: relative }
#processing-status-display { background-color: #FFF; border: 1px solid rgba(0,0,0,0.2); border-radius: 3px; display: none; left: 50%; max-width: calc(100% - 20px); padding: 15px; position: absolute; top: 50%; width: 1200px; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); z-index: 9999 }
form.show-processing #processing-status-display { display: block }
#processing-status-display .progress-bar { background-color: rgba(0,0,0,0.1); border: 1px solid rgba(0,0,0,0.2); border-radius: 4px; height: 40px; overflow: hidden }
#processing-status-display .upload-folder-link { background-color: rgba(68,255,0,0.2); border: rgba(0,100,0,0.2) 1px solid; border-radius: 4px; color: #490; display: block; line-height: 40px; margin: 10px auto; max-width: 100%; text-align: center; width: 300px }
body.scaling-the-cluster #processing-status-display .progress-bar,
body.scaling-the-cluster #processing-status-display .upload-folder-link { display: none }
#processing-status-display .progress-bar::before { content: attr(data-label); display: block; left: 50%; opacity: 0.4; top: 50%; position: absolute; z-index: 1; -webkit-transform: translate(-50%,-50%); transform: translate(-50%,-50%) }
#processing-status-display .progress-bar span { background: #4E4; display: block; height: 100%; left: 0; position: absolute; top: 0; width: 0 }
#processing-status-display ul.workers { display: flex; flex-direction: row; flex-wrap: wrap; margin: 15px -15px; max-height: calc(100vh - 400px); /*min-height: 200px;*/ padding: 0; overflow-y: auto }
body.scaling-the-cluster #processing-status-display ul.workers { visibility: hidden }
#processing-status-display ul.workers li { list-style: outside none; margin: 10px 0; padding: 0 15px; width: 25% }
#processing-status-display ul.workers li .wrap { border: 1px solid rgba(0,0,0,0.1); border-radius: 2px; display: block; list-style: outside none; padding: 10px 90px 10px 10px }
#processing-status-display ul.workers li.running .wrap { background-color: rgba(0,200,0,0.1); border-color: rgba(0,200,0,0.4) }
#processing-status-display ul.workers li .wrap .title { color: #666; font-size: 20px }
#processing-status-display ul.workers li .wrap .assigned { color: #666; position: absolute; right: 90px; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%) }
#processing-status-display ul.workers li .wrap .status { color: #999; display: block; font-size: 12px; position: absolute; right: 10px; text-transform: uppercase; top: 8px }
#processing-status-display ul.workers li.starting .wrap .status,
#processing-status-display ul.workers li.running .wrap .status { color: #490 }
#processing-status-display ul.workers li .wrap .action { bottom: 8px; color: #999; display: block; font-size: 12px; position: absolute; right: 10px; text-transform: uppercase }
#processing-status-display .cluster-scaling-status { align-items: center; bottom: 30px; color: #999; display: none; flex-direction: column; height: 200px; justify-content: center; position: absolute; width: calc(100% - 30px) }
body.scaling-the-cluster #processing-status-display .cluster-scaling-status { display: flex }
#processing-status-display .cluster-scaling-status::before { background: transparent none center center / contain no-repeat; content: ''; display: block; height: 64px; left: 50%; position: absolute; top: 10px; width: 64px; -webkit-transform: translateX(-50%); transform: translateX(-50%) }
body.scaling-the-cluster[data-scalingcluster="out"] #processing-status-display .cluster-scaling-status::before { background-image: url(../images/scaling-out.gif) }
body.scaling-the-cluster[data-scalingcluster="in"] #processing-status-display .cluster-scaling-status::before { background-image: url(../images/scaling-in.gif) }
#processing-status-display .cluster-scaling-status .status { font-size: 30px; margin: 1.5em 0 0.2em }

.grid.random-opt-area { padding-left: 80px; position: relative }
.grid.random-opt-area input[name^="cnt_par_enabled_"] { display: none }
.grid.random-opt-area input[name^="cnt_par_enabled_"] + label[for^="cnt_par_enabled_"] { background-color: rgb(226, 122, 115); border: 2px solid #FFF; border-radius: 50px; box-shadow: 3px 1px 3px rgba(0,0,0,0.1); height: 26px; left: 8px; line-height: 26px; padding: 0; position: absolute; top: 50%; width: 55px; -webkit-transform: translate(0,-50%); transform: translate(0,-50%); -webkit-transition: background-color 0.3s ease 0s; transition: background-color 0.3s ease 0s }
.grid.random-opt-area input[name^="cnt_par_enabled_"]:checked + label[for^="cnt_par_enabled_"] { background-color: rgb(115, 226, 131) }
.grid.random-opt-area input[name^="cnt_par_enabled_"] + label[for^="cnt_par_enabled_"]::before { content: 'Off'; font-family: Roboto-Bold; color: #FFF; font-size: 11px; position: absolute; right: 7px; text-transform: uppercase; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%) }
.grid.random-opt-area input[name^="cnt_par_enabled_"]:checked + label[for^="cnt_par_enabled_"]::before { content: 'On'; left: 7px; right: auto }
.grid.random-opt-area input[name^="cnt_par_enabled_"] + label[for^="cnt_par_enabled_"]::after { background-color: #FFF; border-radius: 50px; content: ''; height: 22px; left: 2px; display: block; top: 50%; position: absolute; width: 22px; -webkit-transform: translateY(-50%); transform: translateY(-50%); -webkit-transition: left 0.3s ease 0s; transition: left 0.3s ease 0s }
.grid.random-opt-area input[name^="cnt_par_enabled_"]:checked + label[for^="cnt_par_enabled_"]::after { left: calc(100% - 24px) }

.cluster-notice { border-top: 1px solid #DDD; color: #ce4844; font-size: 14px; left: 50%; margin-top: 20px; padding: 20px 0 0px; text-align: center }
.cluster-notice a,
.cluster-notice a:hover,
.cluster-notice a:visited,
.cluster-notice a:focus { border-bottom: 1px dotted #ce4844; color: inherit; font-weight: bold }
.cluster-notice a:hover { border-bottom-style: solid }

@media all and (max-width:1280px) {
	#processing-status-display ul.workers li { width: 33.33% }
}
@media all and (max-width:991px) {
	#processing-status-display ul.workers li { width: 50% }
}
@media all and (max-width:767px) {
	#processing-status-display { top: 80px; -webkit-transform: translate(-50%,0); transform: translate(-50%,0) }
	#processing-status-display ul.workers { max-height: calc(100vh - 100px) }
	#processing-status-display ul.workers li { width: 100% }
}